<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal App | Learn More</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="../scripts/theme.js" defer></script>
    <script src="../scripts/recipes.js" defer></script>
    <script src="../scripts/responsive.js" defer></script>
  </head>
  <body id="about-landing" class="theme--light">
    <div class="container">
      <!-- ----------------------- Header Section ----------------------- -->
      <header>
        <div class="branding">
          <a href="./about.html">
            <img
              src="/assets/logo-light.svg"
              alt="Site logo"
              class="logo"
              id="logo-img"
            />
          </a>
          <button class="nav-toggle-btn toggle-nav">&#8801;</button>
        </div>
        <div class="nav-toggle-group hide-nav">
          <span class="close-nav-btn">&times;</span>
          <nav class="nav-links">
            <a class="current" href="index.html">Recipes</a>
            <a href="planner.html">Planner</a>
            <a href="groceries.html">Groceries</a>
            <a href="login.html">Login</a>
            <a id="theme-btn" class="theme" href="#">
              <img
                id="theme-icon"
                src="../assets/icon-theme-light.svg"
                alt="theme icon"
              />
            </a>
          </nav>
        </div>
      </header>
    </div>
    <!-- -----------X----------- Header Section -----------X----------- -->

    <!-- ----------------------- Hero Section ----------------------- -->
    <div class="hero-container">
      <section class="hero container">
        <div class="text">
          <h1>Eat tasty food in less time</h1>
          <p>
            Want more diversity in your recipes, but are short on time? Plan2Eat
            literally helps you 'Plan2Eat'. Learn how Plan2Eat can help you eat
            around your schedule.
          </p>
          <div class="action-buttons">
            <button class="action-btn-1">Learn More <span>&rarr;</span></button>
            <button class="action-btn-2">Sign Up</button>
          </div>
        </div>
        <div class="image">
          <img src="../assets/app-on-phone.svg" alt="planner page on phone" />
        </div>
      </section>
    </div>
    <!-- -----------X----------- Hero Section -----------X----------- -->

    <!--  ----------------------- Main Section ----------------------- -->
    <div class="container">
      <main></main>
    </div>
    <!--  -----------X----------- Main Section -----------X----------- -->
  </body>
</html>
