// STYLING FOR THE LANDING / ABOUT PAGE.
// ========================================================
body#about-landing {
    // STYLING FOR THE HERO SECTION.
    // ========================================================
    div.hero-container {
        background-color: #FFE794;
        height: 100vh;

        section {
            @include flex(row, space-between, center, 24px);

            div.text {
                h1 {
                    color: #333;
                    font-size: 4rem;
                    line-height: 5rem;
                }
                p {
                    color: #333;
                    font-size: 1.5rem;
                    line-height: 2.7rem;
                    font-weight: 300;
                }


                // STYLING THE ACTION BUTTONS
                // ========================================================
                div.action-buttons {
                    @include flex(row, flex-start, center, 24px);

                    margin-top: 36px;

                    .action-btn-1 {
                        @include button(#444, #e0c358, #fff);
                        border-radius: 32px;

                        span {
                            margin-left: 8px;
                        }
                    }
                    .action-btn-2 {
                        @include button(unset, #e0c358, #333);
                        border: 4px solid #444;
                        padding: 12px 28px;
                        border-radius: 32px;
                    }
                }
            }

            div.image {
                img {
                    margin-top: 48px;
                    margin-left: 24px;
                    width: 750px;
                }
            }
        }
    }

    // STYLING FOR THE MAIN SECTION.
    // ========================================================
    div.main-container {
        background-color: #f9f8f8;
        height: 110vh;
        margin-top: -100px;
        color: #333;

        main {
            div.text {
                text-align: center;
                h2 {
                    font-size: 3.5rem;
                    padding-top: 50px;
                    margin-bottom: 0;
                }

                p {
                    font-size: 1.5rem;
                    color: #555;
                }

                margin-bottom: 100px;
            }

            div.info-cards {
                @include flex(row, center, center, 24px);
                text-align: center;

                div.info-card{
                    background-color: #fff;
                    height: 500px;
                    width: 350px;

                    border-radius: 24px;
                    padding: 32px 16px;

                    img {
                        width: 200px;
                        height: 200px;
                    }

                    p.heading {
                        font-size: 1.7rem;
                        font-weight: 800;
                    }

                    p.info {
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        color: #555;
                    }
                }
            }
        }
    }
}
