// Elements
html {
    scroll-behavior: smooth;
    font-size: 14px; // setting the root font sizing for rem use.
}

* {
    font-family: $font-main;
}

body.theme--light {
    background-color: $page-bg-light;
    color: $page-on-bg-light;
}

body.theme--dark {
    background-color: $page-bg-dark;
    color: $page-on-bg-dark;
}


body {
    margin: 0;
}

a {
    text-decoration: none;
    @include themed() {
        color: toggleTheme("page-on-bg");
    }
}


// Classes
.container {
    @include container( $container-margin-l, 0);
}

.cards {
    @include grid(350px, 1fr, 48px);

    .card {
        width: 40vw;
        min-width: 350px;
        max-width: 405px;
        height: 200px;

        @include themed() {
            background-color: toggleTheme("placeholder-bg");
            color: toggleTheme("placeholder-on-bg");
        }

        border-radius: 24px;
    }
}

.no-italic {
    font-style: normal;
}

.italic {
    font-style: italic;
}

// Responsive
/* Small devices (portrait tablets + large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    // Classes
    .container {
        @include container( $container-margin-xs, 0);
    }

    .cards {
        @include grid(1fr, 1fr);
    
        .card {
            width: 90vw;
            min-width: 350px;
            height: 200px;
    
            @include themed() {
                background-color: toggleTheme("placeholder-bg");
                color: toggleTheme("placeholder-on-bg");
            }
    
            border-radius: 24px;
        }
    }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    // Classes
    .container {
        @include container( $container-margin-s, 0);
    }

    .cards {
        @include grid(40vw, 1fr, 16px);
    
        .card {
            width: 40vw;
            min-width: 250px;
            height: 200px;
    
            @include themed() {
                background-color: toggleTheme("placeholder-bg");
                color: toggleTheme("placeholder-on-bg");
            }
    
            border-radius: 24px;
        }
    }
}

/* Large devices (tablets, 850px and down) */
@media only screen and (min-width: 769px) and (max-width: 850px) {
    // Classes
    .container {
        @include container( $container-margin-m, 0);
    }

    .cards {
        @include grid(250px, 1fr, 24px);
    
        .card {
            width: 40vw;
            min-width: 250px;
            height: 200px;
    
            @include themed() {
                background-color: toggleTheme("placeholder-bg");
                color: toggleTheme("placeholder-on-bg");
            }
    
            border-radius: 24px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (min-width: 851px) and (max-width: 992px) {
    // Classes
    .container {
        @include container( $container-margin-m, 0);
    }

    .cards {
        @include grid(350px, 1fr, 24px);
    
        .card {
            width: 42vw;
            min-width: 350px;
            height: 200px;
    
            @include themed() {
                background-color: toggleTheme("placeholder-bg");
                color: toggleTheme("placeholder-on-bg");
            }
    
            border-radius: 24px;
        }
    }
}

/* Large devices (laptops/desktops, 1080px and down) */
@media only screen and (min-width: 993px) and (max-width: 1080px){
    // Classes
    .container {
        @include container( $container-margin-m, 0);
    }

    .cards {
        @include grid(280px, 1fr, 16px);
    
        .card {
            width: 25vw;
            min-width: 280px;
            height: 200px;
    
            @include themed() {
                background-color: toggleTheme("placeholder-bg");
                color: toggleTheme("placeholder-on-bg");
            }
    
            border-radius: 24px;
        }
    }
}

/* Large devices (laptops/desktops, 1160px and down) */
@media only screen and (min-width: 1081px) and (max-width: 1160px){
    // Classes
    .container {
        @include container( $container-margin-m, 0);
    }

    .cards {
        @include grid(250px, 1fr, 16px);
    
        .card {
            width: 320px;
            min-width: 250px;
            height: 200px;
    
            @include themed() {
                background-color: toggleTheme("placeholder-bg");
                color: toggleTheme("placeholder-on-bg");
            }
    
            border-radius: 24px;
        }
    }
}


