header {
    @include flex(row, space-between, center);

    margin-top: 20px;

    .branding {
        @include flex(row, center, center, 16px);

        @include themed() {
            color: toggle("brand-colour");
            // color: $brand-colour-light;
        }
        font-weight: bold;
        font-size: 1.5rem;
    }

    nav {
        @include flex(row, center, center, 48px);

        font-size: 1.2rem;
        font-weight: 500;

        a {
            border-bottom: 4px solid $page-bg-light;
            transition: border-bottom 1s;

            &::after {
                content: '.';
            }

            &:hover {
                border-bottom: 4px solid $hovered-page-light;
            }
        }

        a.theme {
            margin-left: 40px;
            border-bottom: none;
            font-size: 1.8rem;
            color: $page-on-bg-light;

            transition: transform 1s;

            &::after {
                content: '';
            }

            &:hover {
                transform: scale(1.3);
                border-bottom: none;
            }
        }

        a.current {
            border-bottom: 4px solid $current-page-light;
        }
    }
}
