// STYLING THE SIGN IN AND SIGN UP FORMS.
// ========================================================
main#sign-in-form,
main#sign-up-form {
    @include flex(column, space-between, center, 16px);

    form {
        @include flex(column, space-between, center, 40px);

        div.log-group {
            font-size: 1.4rem;
            @include themed(){
                color-scheme: toggleTheme("colour-scheme");
            }

            label {
                font-weight: 500;
                margin-right: 40px;
            }
    
            // STYLING THE INPUTS.
            // ========================================================
            input {
                margin-top: 16px;
                min-width: 400px;
                width: 35vw;
                padding: 12px 16px;

                @include themed(){
                    background-color: toggleTheme("input-bg");
                    color: toggleTheme("input-on-bg");
                }

                border-radius: 8px;
                outline: none;
                border: none;
            }
        }
    
        button#login-btn {
            @include themed() {
                @include button(toggleTheme("primary-btn"), toggleTheme("hover-btn"), toggleTheme("primary-on-btn"), 80px);
            }
        }
    }

    div.sign-up-link {
        a.sign-up-link  {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}


// ALTERNATIVE STYLING FOR THE SIGN UP FORM.
// ========================================================
main#sign-up-form {
    form {
        @include flex(column, space-between, center, 32px);

        div.log-group {
            font-size: 1.2rem;

            @include flex(column, space-between, flex-start, 4px);

            input {
                min-width: 500px;
                width: 50vw;
            }
        }
    
        button#login-btn {
            @include themed() {
                @include button(toggleTheme("primary-btn"), toggleTheme("hover-btn"), toggleTheme("primary-on-btn"), 24px);
            }
        }
    }
}


// RESPONSIVE.
// ========================================================
// Small devices (portrait tablets + large phones, between 551px and 665px).
@media only screen and (min-width: 551px) and (max-width: 665px) {
    main#sign-in-form,
    main#sign-up-form {
        form {
            div.log-group {
                @include flex(column, center, flex-start);
            }
        }
    }
}

// Small devices (portrait tablets + large phones, between 461px and 550px).
@media only screen and (min-width: 461px) and (max-width: 550px) {
    main#sign-in-form,
    main#sign-up-form {
        form {
            align-self: center;
            
            div.log-group {
                input {
                    min-width: 400px;
                }
            }
        }
    }
}

// Small devices (portrait tablets + large phones, 460px and down).
@media only screen and (max-width: 460px) {
    main#sign-in-form,
    main#sign-up-form {
        form {
            align-self: center;

            div.log-group {
                input {
                    min-width: 300px;
                }
            }
        }
    }
}