// STYLING THE PINNED SECTIONS.
// ========================================================
section.pinned {
    margin-top: $section-margin-top;

    .page-heading {
        @include flex(row, flex-start, center, 8px);

        .view-change {
            @include flex(row, flex-start, center, 8px);

            a {
                text-decoration: underline;
            }
        }
    }

    .btn-container button{
        @include themed() {
            @include button(toggleTheme("secondary-btn"), toggleTheme("secondary-hover-btn"), toggleTheme("secondary-on-btn"));
        }

        margin-top: 20px;
    }


    // ALTERNATIVE STYLING FOR THE PLANNER PAGE.
    // ========================================================
    .calendar-cards {
        .card {
            @include themed() {
                background-color: toggleTheme("cal-card-bg");
                border-bottom: 50px solid toggleTheme("cal-card-label-bg");
            }
    
            box-shadow: 0px 0px 10px 4px #0000001c;
            margin: 24px auto;
            box-sizing: border-box;
    
            .info {
                @include themed() {
                    color: toggleTheme("cal-card-bg");
                }

                font-weight: 700;
                font-size: 1.2rem;
                text-align: right;

                p {
                    margin-top: 165px;
                    margin-right: 24px;
                }
            }
        }
    }
}


// STYLING THE CARDS
// ========================================================
main {
    .cards {
        .card {
            padding: 8px 24px 16px 24px;
            overflow: scroll;

            p:first-of-type {
                font-size: 2.2rem;
                font-weight: bold;
                text-align: center;
                font-family: $font-display;
            }

            p:nth-of-type(2) {
                line-height: 2rem;
                text-align: justify;
                font-size: 1.1rem;

                background-color: #fff;
                color: #222;
                border-radius: 8px;
                padding: 8px;
            }

            p:nth-of-type(3) {
                font-weight: bold;
                font-size: 1.4rem;

                @include themed() {
                    color: toggleTheme("current-page");
                }
            }

            ul {
                padding: 0;
            }

            li {
                @include flex(row, space-between, center);
                font-size: 1.2rem;
            }

            span {
                font-weight: bold;
                margin-right: 8px;
            }
        }
    }
}


// STYLING THE MAIN SECTIONS.
// ========================================================
main {
    margin-top: $section-margin-top;

    .btn-container {
        @include flex(row, center, center, 32px);
    }

    button {
        @include themed() {
            @include button(toggleTheme("primary-btn"), toggleTheme("hover-btn"), toggleTheme("primary-on-btn"), calc($section-margin-top * 2));
        }
    }
}
