// STYLING THE VALIDATION MESSAGES FOR THE SIGN UP FORM.
// ========================================================
main#sign-up-form {
    form.validate {
        div.log-group {
            // STYLING THE ERROR MESSAGES.
            // ========================================================
            p.error-msg {
                @include themed() {
                    color: toggleTheme("error-msg");
                }
                font-weight: bold;
                font-size: 1.0rem;

                min-width: 500px;
                width: 50vw;
                margin: 8px 0 0 16px;
            }
            

            // STYLING THE INPUTS.
            // ========================================================
            input {
                &:valid {
                    @include themed() {
                        border: 2px solid toggleTheme("primary-btn");
                    } 
                }
            }

            input.invalid {
                @include themed() {
                    border: 2px solid toggleTheme("cal-red");
                } 
            }
        }
    }
}